# Environment variables
.env

# Python virtual environment
venv_agent/
venv/
*.venv

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
.idea/

# Ignore the vector database, it will be built on the server
chroma_db/