# requirements.txt

streamlit
python-dotenv
langchain
langchain-community
langchain_huggingface
langchain_chroma
langchain_ollama
langgraph
pydantic
# For the Tavily search agent
tavily-python
deep_translator
# For PDF parsing and vectorization/re-ranking
PyMuPDF
sentence-transformers
chromadb